* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: white;
    background-color: #222222;
}

#root {
    padding: 15px;
}

.models {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
}

.model {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-gap: 5px;
}

.params {
    margin: 0 auto;
}

label {
    max-width: 100%;
    min-width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    padding: 5px 10px;
    height: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #4b4b4b;

    transition: linear 0.1s;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: #9b9b9b;
    }
}

button {
    padding: 5px 10px;
    align-self: center;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #4b4b4b;

    transition: linear 0.1s;
    &:hover {
        cursor: pointer;
        background-color: #9b9b9b;
    }
}
